#android stuff
*.keystore
bin/
gen/
target/

#key stuff

res/values/config_data.xml

# eclipse stuff
.classpath
.project
.settings/

#maven eclipse stuff

.externalToolBuilders/
maven-eclipse.xml
/immopoly-android.iws
/immopoly-android.ipr
/immopoly-android.iml
