<?xml version="1.0" encoding="utf-8"?>
<resources>
  <string name="versionName">${project.property.version}</string>
  <string name="keystore">${keystore}</string>
  <string name="storepass">${storepass}</string>
  <string name="keypass">${keypass}</string>
  <string name="consumer_key">${consumer_key}</string>
  <string name="consumer_secret">${consumer_secret}</string>
  <string name="is24_access_token">${is24_access_token}</string>
  <string name="google_maps_key">${google_maps_key}</string>
  <string name="immopoly_appengine_url_prefix">${immopoly_appengine_url_prefix}</string>
  <string name="immopoly_appengine_url_prefix_https">${immopoly_appengine_url_prefix_https}</string>
</resources>
